{% extends 'base.html' %} 
{% load static %}
{% block title %}Post{% endblock %} 
{% block css_files %}
<link rel="stylesheet" href="{% static "blog/post-detail.css" %}" />

{% endblock %}


{% block content %}

{% if comment_form.errors %}
    <div class="alert">

        <h2>Your comment wasn't saved!</h2>
        <p>Please Fix the error by entering appropriate data..</p>
        <a href="#container">Fix It</a>
    </div>
{% endif %}

<section id="summary">
    <h2>{{post.title}}</h2>
    <div>
        {% for tag in post.tags.all %}
        <span class="tag">{{tag}}</span>
        {% endfor %}
    </div>

    <div id="read-later">
        <form  action="{% url 'read-later' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ post.id }}" name="post-id">
                {% if not is_added_to_read_later %}
                    <button type="submit">Read Later</button>
                {% else %}
                    <button type="submit">Remove from Read Later</button>
                {% endif %}
        </form>
    </div>

    <article>
        <img src="{{post.image.url}}">
        <address>{{ post.author }}</address>
        <div>
            Last updated on <time>{{ post.date }}</time>
        </div>
    </article>

</section>

<main>
    {{ post.content }}
</main>
 
{% if comments %}
<div id="comments">
    <h1 style="text-align: center;font-weight: bold;">Comment - Section !</h1>
    <ul>
        {% for comment in comments %}
        <li>
            <h2>
                {{comment.name}}
                <!-- output date only not time -->
                <time>{{ comment.date }}</time>
            </h2>
            <p>{{ comment.comment }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<section id="container">
    <!-- comment section -->
    <h2> Any Comments!</h2>
    <form   action=" {% url 'post_detail' post.slug %} " method="POST">
        {% csrf_token %}
        {% for field in comment_form %}
        <div class="form-control {% if field.errors %} invalid {% endif %} "> 
            {{ field.label_tag }}
            {{ field }}
            <!-- check if this field is email and has error -->
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit">Save Comment</button>
</section>

{% endblock %}